<!DOCTYPE html>
<html>
  <head>
    <title>猿Coding</title>
    <style>
      body {
        padding:40px;
        background: #252525;
        color: #fff;
        line-height: 2;
        /* 支持css代码自动提示 */ 
        /* 你可以修改此处代码 观看右侧预览框内效果 */

      }
      h3 {
        color: #fff;
        border-bottom: 1px dashed #FFF;
        padding: 10px 0px;
      }
    </style>
    <script type="text/javascript">
      function test () {
        console.log('hello world.');
        // 支持部分js代码自动提示
        
        
      }
    </script>
  </head>
  <body>
    <h1>
      如何在 猿Coding 中写代码
    </h1>
      无论你是否注册和登录，都可以编辑此代码，查看运行结果。
    <h3>
      后期功能开发列表
    </h3>
    1.实现代码保存
    <br />
    2.实现代码独立预览
    <br />
    3.实现代码的分享
    <br />
    4.增加github登录体系
    <br />
    5.个性化定制
    <br />
    6.代码广场
    <br />
    7.待定
    <br />
    <br />
    <br />
    <h2>我们的口号是 代码改变世界</h2>
    <br />
  </body>
</html>