<% include ../includes/header %>
    <link rel="stylesheet" href="/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="/lib/codemirror/theme/ambiance.css">
    <script type="text/javascript" src="/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/lib/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/lib/codemirror/mode/xml.js"></script>
    <script type="text/javascript" src="/lib/codemirror/mode/javascript.js"></script>
    <script type="text/javascript" src="/lib/codemirror/mode/css.js"></script>
    <script type="text/javascript" src="/lib/codemirror/mode/htmlmixed.js"></script>
    <script type="text/javascript" src="/js/editor.js"></script>
    <div id="editor">
        <div class="topbar">
            <ul class="menu-nav">
                <li>
                    <div class="menuIcon logo">
                        猿Coding
                    </div>
                </li>
                <li class="menu-board">
                    <div class="menuBtn">菜单</div>
                    <ul class="menu">
                        <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                        <li><div class="menu_divider"></div></li>
                        <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
                    </ul>
                </li>
                <li class="menu-board">
                    <div class="menuBtn">保存</div>
                    <ul class="menu">
                        <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                        <li><div class="menu_divider"></div></li>
                        <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
                    </ul>
                </li>
                <!-- <li class="menu-board">
                    <div class="menuBtn">预览</div>
                    <ul class="menu">
                        <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                        <li><div class="menu_divider"></div></li>
                        <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
                    </ul>
                </li> -->
                <li>
                    <div class="menuBtn">帮助</div>
                </li>
                <li>
                    <div class="menuBtn">设置</div>
                </li>
                <li>
                    <a href="/login" class="menuBtn">
                        登录
                    </a>
                </li>
            </ul>
        </div>
        <div class="editorBox">
            <div class="contentPanel">
                <textarea id="editorPanel" name="editorPanel" class="none"><% include demo %></textarea>
            </div>
            <div class="bottomPanel">
                <div class='editorStatus'>
                    <div class="label" id="cursorPanel">0:0</div>
                    <div class="label">
                        HTML
                        <ul class="menu">
                            <li><div class="menu-item">CSS</div></li>
                            <li><div class="menu-item">HTML</div></li>
                            <li><div class="menu-item">Javascript</li>
                        </ul>
                    </div>
                    <div class="label">Spaces: 4</div>
                </div>
            </div>
        </div>
    </div>
<% include ../includes/footer %>