<!DOCTYPE html>
<html>
    <head>
        <title>猿Coding</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <div id="editor">
            <div class="topbar">
                <ul class="menu-nav">
                    <li>
                        <div class="menuIcon logo">
                            猿Coding
                        </div>
                    </li>
                    <li class="menu-board">
                        <div class="menuBtn">菜单</div>
                        <ul class="menu">
                            <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                            <li><div class="menu_divider"></div></li>
                            <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
                        </ul>
                    </li>
                    <li class="menu-board">
                        <div class="menuBtn">保存</div>
                        <ul class="menu">
                            <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                            <li><div class="menu_divider"></div></li>
                            <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
                        </ul>
                    </li>
                    <li class="menu-board">
                        <div class="menuBtn">预览</div>
                        <ul class="menu">
                            <li><div class="menu-item"><span>⌘ S</span><u></u>Save</div></li>
                            <li><div class="menu_divider"></div></li>
                            <li><div class="menu-item"><span></span><u></u>Download Project</div></li>
                        </ul>
                    </li>
                    <li>
                        <div class="menuBtn">帮助</div>
                    </li>
                </ul>
            </div>
            <div class="editorBox">
                <div class="contentPanel">
                    <textarea id="editorPanel" name="editorPanel" class="none"></textarea>
                </div>
                <div class="bottomPanel">
                    <div class='editorStatus'>
                        <div class="label" id="cursorPanel">0:0</div>
                        <div class="label">
                            HTML
                            <ul class="menu">
                                <li><div class="menu-item">CSS</div></li>
                                <li><div class="menu-item">HTML</div></li>
                                <li><div class="menu-item">Javascript</li>
                            </ul>
                        </div>
                        <div class="label">Spaces: 4</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>