<% include ../includes/header %>
    <script src="js/particles.js"></script>
    <script src="js/login.js"></script>
    <div class="indexContent clearfix" id="indexContent">
        <div class="section">
            <div class="fullPageCell">
                <h2>猿Coding</h2>
                <h1>代码改变世界</h1>
                <p>在线编辑、学习、交流</p>
                <ul class="button-panel">
                    <li>
                        <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=f6fbdf06449f3727af97" class="button">Login With Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<% include ../includes/footer %>
